<div class="side-main"  >
  <div class="side-nav-item" [routerLink]="['./dashboard']" routerLinkActive="active">
    <mat-icon class="side-nav-icon">admin_panel_settings</mat-icon>
    <div class="side-nav-text">
      Dashboard
    </div>
  </div>
  <div class="side-nav-item" >
    <mat-icon class="side-nav-icon">people</mat-icon>
    <div class="side-nav-text">
      Users
    </div>
  </div>
  <div class="side-nav-item" routerLink='./addadmin' routerLinkActive="active" >
    <mat-icon class="side-nav-icon">person_add_alt_1</mat-icon>
    <div class="side-nav-text">
      Add Admin
    </div>
  </div>
  <!-- <div class="side-nav-item">
    <mat-icon class="side-nav-icon">admin_panel_settings</mat-icon>
    <div class="side-nav-text">
      Dashboard
    </div>
  </div>
  <div class="side-nav-item">
    <mat-icon class="side-nav-icon">admin_panel_settings</mat-icon>
    <div class="side-nav-text">
      Dashboard
    </div>
  </div> -->
</div>

