.side-main{
  width: 100%;
  height: 100ch;
  background-color: rgb(48,48,48);
}
.side-nav-item{
  width: 100%;
  height: 100px;
  /* background-color: yellow; */
  position: relative;
}
.side-nav-icon{
  position: absolute;
  font-size: 40px;
  top: 25px;
  left: 10px;
  color: white;
  transition: all 0.3s ease-in-out;
}
.side-nav-text{
  color: white;
  padding-left: 80px;
  padding-top: 33px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.active{
  background-color: black;
}
.active .side-nav-icon{
  left: 50px;
}
.active .side-nav-text{
  padding-left: 120px;
}
