<div class="wrapper fadeInDown" style="background-color: white !important;position: absolute;top:-10px;left: -10px;height: 100ch;margin: 0px !important;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">Sign In</h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img
        src="http://danielzawadzki.com/codepen/01/icon.svg"
        id="icon"
        alt="User Icon"
      /> -->
    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="submit()" >
      <input
        type="email"
        id="email"
        class="fadeIn second"
        name="email"
        placeholder="email"
        formControlName="email"
      />
      <br/>
      <span *ngIf="email.invalid && email.touched" style="color: #dc3545;font-size: 12px;">Please Enter valid email</span>

      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="password"
        formControlName="password"
      />
      <br/>
      <span style="color: #dc3545;font-size: 12px" *ngIf="password.invalid && email.touched">Password is Required</span>
      <br/>
      <br/>
      <span style="color: #dc3545;font-size: 12px" *ngIf="mainerror">Incorrect password or email</span>
      <br/>
      <input type="submit" class="fadeIn fourth" value="Log In
      " *ngIf="!loader">

      <div  style="width: 100%;" *ngIf="loader">
        <mat-spinner  [diameter]="50" style="margin: auto;"></mat-spinner>
      </div>

    </form>


  </div>
</div>
