<div class="container-fluid" style="width: 100vw!important">

    <!-- <div class="row">  -->

        <section class="tm-section-intro" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
                <div class="tm-wrapper-center" style="width: 100% !important;">
                    <h1 class="tm-section-intro-title heading">Features</h1>
                    <p class="tm-section-intro-text subheading">Let's find out what you can do with Aqua mobile app
                    </p>
                    <a href="#tm-section-2" class="tm-btn-white-big">Explore</a>
                </div>
            </div>
        </section>

    <!-- </div> -->
</div>
