<div class="row" id="tm-section-2" style="width: 99vw !important;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <!-- slider -->
        <section>
            <div id="tmCarousel" class="carousel slide tm-carousel" data-ride="carousel" data-interval="false"> <!-- If you want to make the carousel auto play, remove data-interval="false" -->

                <ol class="carousel-indicators">
                    <li data-target="#tmCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#tmCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#tmCarousel" data-slide-to="2" class=""></li>
                </ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="carousel-content">
                            <div>
                                <h2 class="tm-carousel-item-title subheading">Check Daily Water Intake</h2>
                                <p class="tm-carousel-item-text">When you open the app you can easily find out
                                    how many liters of water you should drink today! And also you can clearly see
                                    which amount of water you have drink already and which amout of water you should drink
                                    to achieve the daily target
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-content">
                            <div>
                                <h2 class="tm-carousel-item-title subheading">Check Water Quality</h2>
                                <p class="tm-carousel-item-text">You can easily find out whether the water in your bottle is
                                    good to drink or not by looking the pH value, flouoride concentration etc. And also you can see
                                    the water evel of the bottle and the battery percentage of the bottle
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-content">
                            <div>
                                <h2 class="tm-carousel-item-title subheading">Add Additional Beverages</h2>
                                <p class="tm-carousel-item-text">You can add beverages that you drink other than water in one tap. Beacuse
                                    there is a considerable amount of water in other beverages such as cofee, ea, fruit juices etc
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
</div> <!-- row -->
