<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="width: 100% !important;">
  <header>
    <!-- <div> -->
      <!-- <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
        <div class="container">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <a class="navbar-brand logo" href="index.html"><img style="height: 80px;margin-bottom:5px; margin-top: 10px; margin-left: -100px;" src="../../../assets/images/new.png"></a>
          <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
          <div class="navbar-collapse collapse " id="navbarDefault">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aboutus.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="features.component.html">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog-grid.html">Contact Us</a>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-expanded="false">
           
          </button>
        </div>
      </nav> -->
      <div class="slider">
        <img class="intro-img" *ngIf="slider[0]" src="../../../assets/images/istock-519369740.jpg"/>
        <img class="intro-img" *ngIf="slider[1]" src="../../../assets/images/C01YDt-XcAA2IuZ.jpg"/>
        <img class="intro-img" *ngIf="slider[2]" src="../../../assets/images/8e35f60b-2b4e-4518-b980-b167de74de58-fotolia_175041593_subscription_monthly_m.jpg"/>
        <div class="centered overlay">
        </div>
        <button mat-icon-button class="slider-pre" (click)="sliderPre()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-icon-button class="slider-next" (click)="sliderNext()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <div class="overlay-txt" *ngIf="slider[0]">

          <p class="text1"> Welcome to AQUA</p>
          <p class="text2 text-center">Leading to a Healthy Generation</p>
        </div>
        <div class="overlay-txt" *ngIf="slider[1]">

          <p class="text1">Track your daily water intake with Aqua.</p>
          <p class="text2 text-center">Achieve your hydration goals with a simple tap!</p>
        </div>
        <div class="overlay-txt" *ngIf="slider[2]">

          <p class="text1 justify-content-center">Drink water and take care of yourself!</p>
          <p class="text2 text-center">Join with us now!</p>
        </div>
      </div>
    <!-- </div> -->
  </header>
  <section>
    <div class="row section1-container_a">
      <div class="col-sm-3 col-md-6 col-lg-5">
        <img src="../../../assets/images/835202653d0abbb2f47698b60faa51a7.jpg" class="image-section1">
      </div>
      <div class="col-sm-9 col-md-6 col-lg-7">
        <div class="text-heading_a">Who are <span style="color: #4dddff;font-family: Amita;">We</span></div>
        <div class="text-subheading">Not having enough water on a daily basis will lead to many diseases. By concerning all these problems we are designing a water bottle with high quality and beautiful design with many sizes according to the user type along with an app to gather data on user to customize the amount of water one should take per day. 
          <p style="padding-top: 20px;">When designing the bottle we include sensors for tracking the drinking water usage and then by connecting those two together we remind the user to drink water if the user did not achieve the target. We also organize certain types of interesting games and competitions in order to motivate the user to drink water. 
          Not only the water level but also we track the quality measurement of the water contained in the bottle. We get the pH value, Fluoride percentage, Mineral concentration, heavy metal percentages using sensors, and notify the user through the app indicating whether it is healthy to drink or not.</p>
          </div>
      </div>
    </div>


  </section>
  <div>
    <div class="row" class="section1-container img-fluid">
      <div class="col-12 parallax">
        <p class="main col-6"> The easiest healthy habbit you can adopt?</p>
        <p class="sub">Just drink more water...</p>
<p class="text_parallax col-12">One simple way to boost your health</p>
      </div>

    </div>

  </div>
  <!-- <section>
    <div class="row" class="section1-container">
      <div class="col-3 ">
        <div class="text-heading">What is <span style="color: #4dddff;">AQUA</span></div>
        <div class="text-subheading">AQUA is a project of creating a smart water bottle alone with a user friendly mobile application.</div>
      </div>
      <div class="col-6">
        <img src="../../../assets/images/835202653d0abbb2f47698b60faa51a7.jpg" class="image-section1">

      </div>
    </div>

  </section> -->
  <section>
    <div class="row features">

      <div class="col-sm-9 col-md-6 col-lg-7">
        <div class="text-heading">What we <span style="color: #4dddff;">do</span></div>
        <div class="text-subheading">Our Goal is to create a healthy lifestyle  avoiding diseases in busy schedules by drinking sufficient amounts of water daily</div>
        <div class="row" style="padding-top: 50px;">
          <i class="fa fa-check-square-o colour fa-2x"></i><p style="padding-left: 10px; font-weight: 100;">Measure the remaining water level</p>
        </div>
        <div class="row">
          <i class="fa fa-check-square-o colour fa-2x"></i><p style="padding-left: 10px; font-weight: 100;">Check the quality of the water with pH value, Fluoride percentage, <br>Mineral concentration, Heavy metals percentage</p>
        </div>
        <div class="row">
          <i class="fa fa-check-square-o colour fa-2x"></i><p style="padding-left: 10px; font-weight: 100;">Customize the amount of water which should drink by you according<br> to the collected data</p>
        </div>
        <div class="row">
          <i class="fa fa-check-square-o colour fa-2x"></i><p style="padding-left: 10px; font-weight: 100;">Replace the raw water usage amount by the beverages’ if you select <br> one from the given beverage list</p>
        </div>
        <div class="row">
          <i class="fa fa-check-square-o colour fa-2x"></i><p style="padding-left: 10px; font-weight: 100; font-weight: 100;">Track the yours' drinking history</p>
        </div>
        <div class="row">
          <i class="fa fa-check-square-o colour fa-2x"></i><p style="padding-left: 10px; font-weight: 100;">Organize competitions among users in order to encourage</p>
        </div>
        <div class="row">
          <i class="fa fa-check-square-o colour fa-2x"></i><p style="padding-left: 10px; font-weight: 100;">Leader boards and badges</p>
        </div>
        <div class="row">
          <i class="fa fa-check-square-o colour fa-2x"></i><p style="padding-left: 10px; font-weight: 100;">Remind you all the time</p>
        </div>
      </div>
      <div class="col-sm-3 col-md-6 col-lg-5">
        <img src="../../../assets/images/whatweDo.png" class="image-section1">
      </div>
    </div>


  </section>
  <section>
    <div class="row" class="section1-container_a test" >
      <!-- <img class="img-water" src="../../../assets/images/stock-photography-water-drop-dynamic-water-drops.jpg" > -->

      <div class=""> 
        <p class="text-heading text-center" style="color: black;"> Download AQUA</p>
        <p class="text-download text-center" style="color: black;">Hydrate Today !</p>

      </div>
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col">
          <img class="download" src="../../../assets/images/playstore.png">
        </div>
        <div class="col">
          <img class="download" src="../../../assets/images/appstore.jpg">
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>

  </section>

</body>
</html>
