
  /*======================================
  //--//-->   NAVBAR
  ======================================*/

  .navbar-default {
    transition: all .5s ease-in-out;
    background-color: #ffffff;
    padding-top: 28px;
    padding-bottom: 28px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
    font-family:Aclonica ;
  }

  .navbar-default .nav-search {
    color: #000000;
    font-size: 1.5rem;

  }

  .navbar-default.navbar-reduce {
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  }

  .navbar-default.navbar-trans,
  .navbar-default.navbar-reduce {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .navbar-default.navbar-trans .nav-item,
  .navbar-default.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-bottom: 8px;
    margin-left: 0;
  }

  .navbar-default.navbar-trans .nav-link,
  .navbar-default.navbar-reduce .nav-link {
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.030em;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-default.navbar-trans .nav-link:before,
  .navbar-default.navbar-reduce .nav-link:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color: #4dddff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: opacity .2s ease-out 0.3s, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s, -webkit-transform .2s ease-out;
  }

  .navbar-default.navbar-trans .nav-link:hover,
  .navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
  }

  .navbar-default.navbar-trans .nav-link:hover:before,
  .navbar-default.navbar-reduce .nav-link:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }

  .navbar-default.navbar-trans .show > .nav-link:before,
  .navbar-default.navbar-trans .active > .nav-link:before,
  .navbar-default.navbar-trans .nav-link.show:before,
  .navbar-default.navbar-trans .nav-link.active:before,
  .navbar-default.navbar-reduce .show > .nav-link:before,
  .navbar-default.navbar-reduce .active > .nav-link:before,
  .navbar-default.navbar-reduce .nav-link.show:before,
  .navbar-default.navbar-reduce .nav-link.active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .navbar-default.navbar-trans .nav-link:before {
    background-color: #4dddff;
  }

  .navbar-default.navbar-trans .nav-link:hover {
    color: #000000;
  }

  .navbar-default.navbar-trans .show > .nav-link,
  .navbar-default.navbar-trans .active > .nav-link,
  .navbar-default.navbar-trans .nav-link.show,
  .navbar-default.navbar-trans .nav-link.active {
    color: #000000;
  }

  .navbar-default.navbar-reduce {
    transition: all .5s ease-in-out;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .navbar-default.navbar-reduce .nav-link {
    color: #000000;
  }

  .navbar-default.navbar-reduce .nav-link:before {
    background-color: #4dddff;
  }

  .navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
  }

  .navbar-default.navbar-reduce .show > .nav-link,
  .navbar-default.navbar-reduce .active > .nav-link,
  .navbar-default.navbar-reduce .nav-link.show,
  .navbar-default.navbar-reduce .nav-link.active {
    color: #000000;
  }

  .navbar-default.navbar-reduce .navbar-brand {
    color: #000000;
  }

  .navbar-default .dropdown .dropdown-menu {
    border-top: 0;
    border-left: 4px solid #4dddff;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: translate3d(0px, -40px, 0px);
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
    margin: 0;
    border-radius: 0;
    padding: 12px 0;
  }

  .navbar-default .dropdown .dropdown-menu .dropdown-item {
    padding: 12px 18px;
    transition: all 500ms ease;
    font-weight: 600;
    min-width: 220px;
  }

  .navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffffff;
    color: #4dddff;
    transition: all 500ms ease;
  }

  .navbar-default .dropdown .dropdown-menu .dropdown-item.active {
    background-color: #ffffff;
    color: #4dddff;
  }

  .navbar-default .dropdown:hover .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1);
  }

.intro-img{
    width: 100%;
    height:80ch;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.nav-item{
    padding-left: 30px;
}
.navbar{
  height: 100px;
  /* background-color: yellow; */
}
  /*======================================
  //--//-->   Slider
  ======================================*/



.slider{
    position: relative;
    height: 80ch;
}
.overlay{
    width: 100%;
    height: 80ch;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}
.overlay-txt{
    color: white;
    z-index: 100;
    left: 25%;
    top:300px;
    position: absolute;
}
.overlay-txt1{
  color: white;
  z-index: 100;
  left: 40%;
  top:200px;
  position: absolute;
}
.overlay-txt2{
  color: white;
  z-index: 100;
  left: 10%;
  top:250px;
  position: absolute;
  padding: 20px 20px 20px 20px;

}


.slider-pre{
    top:400px;
    position: absolute;
    left:100px;
    background-color: transparent;
    border: 1px solid white;
    z-index:10000;
    width:60px;
    height: 60px;
}
.slider-pre mat-icon{
    color: white;


}
.slider-next{
    top:400px;
    position:absolute;
    right: 100px;
    border: 1px solid white;
    z-index:10000;
    width:60px;
    height: 60px;
}
.slider-next:hover,.slider-pre:hover{
  background-color: #4dddff;
  border: 0px;
}

.slider-next mat-icon{
  color: white;
}
.text1{
  font-size: 80px;
  font-weight: 500;
  font-family:Amaranth ;
}
.text2{
  font-size: 30px;
  font-family: Amaranth;
}

.image-section1{
  width: 100%;
  height: 60ch;
}

.section1-container{
  margin-top: -165px;
  height: 80ch;
  margin-left: -15px;
  margin-right:0px;
}
.section1-container_a{
  margin-top: -50px;
  height: 80ch;
  margin-left: -15px;
  margin-right:0px;
}

.text-heading{
  font-size: 50px;
  font-weight: 600;
  font-family: Amaranth;
  padding-top: 50px;
  padding-left: 50px;
}
.text-heading_a{
  font-size: 50px;
  font-weight: 600;
  font-family: Amaranth;
  padding-top: 120px;
  padding-left: 50px;
  padding-bottom: 20px;
}
.text-subheading{
  font-size: 20px;
  font-weight: 100;
  padding-left: 50px;

}
.parallax {
  /* The image used */
  background-image: url("../../../assets/images/brita_experience_personal_hydration_needs_woman_drinking_water.jpg");

  /* Set a specific height */
  height: 100ch;
  width:100% !important;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features{
  margin-top:200px ;
}



/* .section1-container{
  background-color: red;
} */
 .image-section1{
  margin-top: 50px;
  margin-right: -50px;
}
.img-water {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.download{
  width: 400px;
  height: 150px;
}
.text-download{
  font-size: 30px;
  font-weight: 400;
  padding-left: 50px;

}
.colour{
  color: #4dddff;
  padding-left: 100px;
}

.test{
  /* <img class="img-water" src="../../../assets/images/stock-photography-water-drop-dynamic-water-drops.jpg" > */

  background-image: url("../../../assets/images/water.png");
  height: 500px;
}

.row{
  width: 100% !important;

}
.text_parallax{
  font-size: 50px;
  color:  #4dddff;
  font-weight: bolder;
  padding-left: 100px;
  text-shadow: 2px 2px rgb(174, 174, 223);
}
.main{
  font-family: Amaranth;
  font-weight: bold;
  font-size: 70px;
  padding-left: 100px;
  padding-right: 70px;
  padding-top: 250px;
  font-variant: initial;
}
.sub{
  font-family: Amaranth;
  font-weight: 500;
  font-size: 50px;
  padding-left: 100px;
  font-variant: small-caps;
}