<div class="row" style="width: 100vw !important;">

    <section class="tm-2-col-img-text tm-2-col-img-lg-left">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-img">
            <img src="../../assets/img/feature-charts.jpg" alt="Image" class="img-fluid">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-text">
            <h2 class="tm-2-col-text-title" style="font-family: amaranth;">History Charts</h2>
            <p class="tm-2-col-text-description" style="color: black;">
                Is it enough to know only today status ? Of course not. You can see your water
                drinking history by weekly or monthly and also your beverages percentages you
                drank today by charts. This is important to keep you in track
            </p>
            <!-- <a href="#" class="tm-bordered-btn">Read More</a> -->
        </div>

    </section>

</div> <!-- row -->
