
<ngb-tabset class="tab-solid tab-solid-primary">
  <ngb-tab>
  <ng-template ngbTabTitle>
    Contact Us Messages
  </ng-template>

  <ng-template ngbTabContent>
    <table mat-table *ngIf="!loading"
            [dataSource]="dataSource1" multiTemplateDataRows
            class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay1">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" >
            <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

              <button class="btn btn-primary btn-fw" (click)="read(element)">Read</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay1;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <div style="width: 100%;margin-top: 100px;" *ngIf="loading">
      <mat-spinner [diameter]="50"  style="margin: auto;"></mat-spinner>

      </div>
  </ng-template>
</ngb-tab>
<ngb-tab>

  <ng-template ngbTabTitle>
    Feedback and Suggestion
  </ng-template>
  <ng-template ngbTabContent>
    <table mat-table *ngIf="!loading"
       [dataSource]="dataSource2" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay2">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" >
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <button class="btn btn-primary btn-fw" (click)="read2(element)">Read</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay2;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<div style="width: 100%;margin-top: 100px;" *ngIf="loading">
<mat-spinner [diameter]="50"  style="margin: auto;"></mat-spinner>

</div>
  </ng-template>
</ngb-tab>

</ngb-tabset>



