<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
<div class="page" style="width: 100vw!important">
    <app-intro ></app-intro>
    <app-dash-features></app-dash-features>
    <app-leaderboard></app-leaderboard>
    <app-charts></app-charts>
    <app-profile></app-profile>
</div>
