section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wrapper{background: url('/assets/img/ocean-bg.png') no-repeat   center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}

    section-header{
      font-size: 20px;
      background-color: #4E4F50;
    }

    .map mb-4 mb-lg-0 {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40%;
    }
    
    .map mb-4 mb-lg-0:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }