<div class="page" style="width: 100% !important;">
    <app-header></app-header>
<div>
<section class="wrapper"  >

    <div class="container-fluid" style="width:100% !important;  margin-bottom: 20px ; margin-left: 15px; margin-right: 15px  " >


        <div class="row wow fadeInUp">
            <div class="col-lg-6">
                <div style="padding-top: 50px;" class="map mb-4 mb-lg-0" >
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6" >
                    <!-- <h5 class="card-header">Contact us</h5> -->
                    <div class="card-body"   >
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
                            <div class="form-row" >
                                <!-- <div class="form-group col">
                                    <label style="color:black; padding-top: 20px;">Title</label>
                                    <select formControlName="title" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                        <option value=""></option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Ms">Ms</option>
                                    </select>
                                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                        <div *ngIf="f.title.errors.required">Title is required</div>
                                    </div>
                                </div> -->
                                <div class="form-group col-6">
                                    <label style="color:black;padding-top: 20px;">First Name</label>
                                    <input type="text" formControlName="firstName" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label style="color:black;padding-top: 20px;">Last Name</label>
                                    <input type="text" formControlName="lastName" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="color:black;">Email</label>
                                <input type="text" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label style="color:black;">Your Feedback</label>

                                    <textarea formControlName="feedback" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >Your Feedback</textarea>
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required" >feedback is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-5">
                                    <img class="img-responsive" src="assets/img/cont.png" height="300" width="300">
                                </div>


                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                                    class="form-check-input"
                                    [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                                <label for="acceptTerms" class="form-check-label" style="color:black;">Accept Terms & Conditions</label>
                                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is
                                    required</div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary mr-1" [disabled]="!this.registerForm.value.acceptTerms">Submit</button>
                                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            <div class="col-lg-6" style="margin-top: -150px">
                <div class="row" >
                    <div class="col-md-5 info">
                        <i class="ion-ios-location-outline"></i>
                        <img class="img-responsive" src="assets/img/home.png" height="25" width="25">
                        <p style="color:black;"> No.164 / A,
                            Thudella,
                            Ja-Ela,
                            Sri Lanka
                        </p>
                    </div>
                    <div class="col-md-4 info">
                        <i class="ion-ios-email-outline"></i>
                        <img class="img-responsive" src="assets/img/mail.png" height="25" width="25">
                        <p style="color:black;">info@aqua.com</p>
                    </div>
                    <div class="col-md-3 info">
                        <i class="ion-ios-telephone-outline"></i>
                        <img class="img-responsive" src="assets/img/telephone.png" height="25" width="25">
                        <p style="color:black;"> +94 11-2231668
                            +94 77-2414931
                            +94 77-1535759</p>
                    </div>
                </div>

            </div>




            <!-- <h1>jfhksjdgfjg</h1> -->
        </div>
    </div>
</section>
</div>
</div>
