@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

%reset {
  margin: 0;
  padding: 0;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animated($timein: null, $delay: null) {
  transition: all $timein ease-in-out;
  transition-delay: $delay;
}

@mixin dimensions($width: null, $height: null) {
  width: $width;
  min-height: $height;
}

$maincolor: #009688;
html {
  height: 100%;
}
body {
  @extend %flex;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 100%;
  background: #009688;
  font-size: 16px;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  @include dimensions(500px, 100px);
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    width: 190px;
    height: 300px;
    background: cadetblue;

    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
  }
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ececec;
  width: 480px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: 10px;
  @extend %flex;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s
    forwards;
  span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
  }
}

.firstinfo {
  @extend %flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
  img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  .profileinfo {
    padding: 0px 20px;
    h1 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 0.8em;
      color: $maincolor;
      font-style: italic;
    }
    p.bio {
      // padding: 10px 0px;
      color: #5a5a5a;
      line-height: 1.2;
      font-style: initial;
    }
  }
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}

@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(-0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
