@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@100&family=Yellowtail&display=swap');


*{
  margin:0px;
  padding:0px;
}


.login-main{
  /* margin-top: -10px; */
  /* margin-bottom: -10px; */
  padding-top:50px;
  /* padding: 0px; */
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(33, 25, 173, 0.2);
}
.login-card{
  width: 450px;
  height: 550px;
  /* border: 1px solid; */
  box-shadow: 5px 10px 18px #888888;
  background-color: white;
  margin: auto;

  border-radius: 15px;
}
.header-img{
  padding-top: 10px;
  /* background-color: red; */
  width:200px;
  /* border-radius:50%; */
  margin: auto;
  margin-top: 10px;
  /* margin-left: 100px; */
}
.header-img img{
  width: 200px;
}
.header-img h3{
  margin-top: 20px;
  text-align: center;
  font-weight: 400;


  /* font-family: 'Yellowtail', cursive; */
}
.login-form{
  margin-top: 20px;
  width: 100%;
  /* background-color: red; */
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}
.form-field{
  padding-top: 30px;
  /* background-color: red; */
  margin-top: 80px;
  height: 100px;
  width: 100%;
  margin: auto;
}
.signin-btn{
  margin: auto;
  width: 100%;
  text-align: center;

}
.signin-btn button{
  padding: 0px;
  padding-top: -10px;
  margin: auto;
  width: 100px;
  height: 45px;
  font-weight: 600;
  border-radius: 10px;
  border: 0px;
  color: white;
  font-size: 14px;
  background-color: rgb(17, 17, 143);
  /* box-shadow: 5px 10px 18px #888888; */
}
.error{
  color: red;
  font-size: 12px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
