<div class="login-main">
  <div class="login-card">
    <div class="header-img">
      <img src="../../../assets/images/logo.png" />
      <h3>Admin Login</h3>
    </div>

    <form class="login-form" [formGroup]="loginForm" (submit)="submit()">

    <mat-form-field  class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" class="example-right-align" formControlName="email" required>
      <span matPrefix><mat-icon>email</mat-icon></span>
      <mat-error >Required</mat-error>
      <!-- <span matSuffix><mat-icon>lock</mat-icon></span> -->
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="{{visisbility?'password':'text'}}" class="example-right-align" formControlName="password" required>
      <span matPrefix><mat-icon>lock</mat-icon></span>
      <span matSuffix>
        <button mat-icon-button type="button">
          <mat-icon (click)="visisbility=!visisbility">{{visisbility?"visibility":"visibility_off"}}</mat-icon>
        </button></span>
        <mat-error>Required</mat-error>
    </mat-form-field>
    <div *ngIf="error" class="error">Invalid Password or Email</div>
    <div class="signin-btn">
      <button type="submit" >SignIn</button>
    </div>

  </form>
  </div>
</div>
