<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
<div class="container-fluid">
            
    <!-- <div class="row">  -->
        
    <!-- ABOUT US -->
    <app-heading></app-heading>
      
    <!-- </div> -->
</div>

<!-- JOIN US -->

<div class="row">
                
    <section class="tm-2-col-img-text tm-2-col-img-lg-right">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-img">                    
            <img src="../../../assets/img/girl-boy-drinking-family-in-kitchen.jpg" alt="Image" class="img-fluid image">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-text">
            <h2 class="tm-2-col-text-title subheading">Who are We ?</h2>
            <p class="tm-2-col-text-description text-justify content">
                Water is indeed essential for all life on earth. As we all know 70% 
                        of the human body contains water. Drinking sufficient amounts of water
                        is vital to our health because it serves a number of essential 
                        functions to keep us all going! So we're here to help you 
                        to have sufficient amounts of water daily to keep you healthy.
                Along with the bottle, our app  gather data by 
                concerning the user type and their living patterns to customize
                the amount of water one should take per day according to that 
                particular user.


            </p>
            <!-- <a href="#" class="tm-bordered-btn">Read More</a> -->
        </div>
    
        
    </section>

    <!-- MORE ABOUT US -->

     <div class="row">
                
            <section class="tm-2-col-img-text tm-2-col-img-lg-left">
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-img">
                    <!--<div class="about-section"></div>-->                    
                    <img src="../../../assets/img/HTB1cCtjbLuSBuNkHFqDq6xfhVXaT.jpg" alt="Image" class="img-fluid">
                </div>
        
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-text">
                    <h2 class="tm-2-col-text-title subheading">More About Us</h2>
                    <p class="tm-2-col-text-description text-justify content">
                        Also, all our users are able to add the size and 
                        select the beverage from some of the beverages given by the 
                        app that can calculate the water percentage of them too which 
                        may reduce the full water content that should be intake.
                        Join with our smart water bottle alone with a mobile app in order to
                        build a better healthy lifestyle avoiding diseases in busy
                        schedules by drinking sufficient amounts of water daily plus enjoy it
                        with playing games and competing with your friends.
                    </p>
                    <!-- <a href="#" class="tm-bordered-btn">Read More</a> --> 
                </div> 
            </section>
        </div>  
        <!-- row --> 

</div> <!-- row -->