*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: "Open Sans",sans-serif; */
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.about-section{
    background: url(water.jpg) no-repeat left;
    background-size: 55%;
    background-color:#4ddbff;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color:#4ddbff;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

/* .text{
    font-size: 13px;
    color: rgba(15, 15, 15, 0.637);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.text1{
    font-size: 13px;
    color: rgba(12, 12, 12, 0.973);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
} */

.skills{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:100px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
.heading{
    font-family:Amaranth;
}
.subheading{
    padding-left: 20px;
    font-family: amaranth;
    font-size: xx-large;
}
.image{
    width: 250% !important;
}
.content{
 color: black;
 font-size: large;
 padding: 40px 40px 20px 20px;
}