<div class="row" style="margin: auto;">
<div class="col-md-6 grid-margin stretch-card" style="margin: auto;">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Create A New Admin</h4>

      <form class="forms-sample" [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="exampleInputName1">Name*</label>
          <input type="text" class="form-control" id="exampleInputName1" placeholder="Super Admin" name="name" formControlName="name">
          <span style="color: #dc3545;font-size: 12px" *ngIf="getval('name').invalid&&getval('name').touched">Required</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Email address*</label>
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="admin@aqua.com" name="email" formControlName="email">
          <span style="color: #dc3545;font-size: 12px" *ngIf="getval('email').invalid&&getval('email').touched">Invalid Email</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword4">Password*</label>
          <input type="password" class="form-control" id="exampleInputPassword4" placeholder="********" name="password" formControlName="password">
          <span style="color: #dc3545;font-size: 12px" *ngIf="getval('password').invalid&&getval('password').touched">Please insert minimul 8 charactors</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword4">Re enter Password*</label>
          <input type="password" class="form-control" id="exampleInputPassword4" placeholder="********" name="repassword" formControlName="repassword">

          <br/>
          <span style="color: #dc3545;font-size: 12px" *ngIf="getval('password').value!=getval('repassword').value&&getval('repassword').touched">Password not matched</span>
        </div>

        <mat-spinner  [diameter]="50" style="margin-left: 80px;margin-bottom: 30px;" *ngIf="loader"></mat-spinner>
        <button [disabled]="loader" type="submit" class="btn btn-success mr-2">Submit</button>
        <button [disabled]="loader" class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
</div>
