<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top" style="width: 100% !important;">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand logo" href="index.html"><img style="height: 80px;margin-bottom:5px; margin-top: 10px; margin-left: -100px;" src="../../../assets/images/new.png"></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse " id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link active" id="home" routerLink="" (click)="activeChange(1)">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="aboutus" id="aboutus" (click)="activeChange(2)">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="features" id="features" (click)="activeChange(3)">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus" id="contactus" (click)="activeChange(4)">Contact Us</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">

      </button>
    </div>
  </nav>
