<div class="card" style="margin: 10px; cursor: pointer" (click)="showGroup()">
  <div class="card-body">
    <h4 class="card-title">Group Name</h4>
    <!-- <p class="card-description">
        Use class <code>.tab-basic</code> for basic styling
      </p> -->

    <div class="row">
      <div class="col-md-4">
        <img
          class="img-fluid w-100 rounded"
          src="assets/images/samples/300x300/4.jpg"
          alt=""
        />
      </div>
      <div class="col-md-8">
        <h5 class="mb-3">{{ group.groupName }}</h5>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio
      dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis
      dolorem quaerat quis assumenda!
    </p>
  </div>
</div>
