<div class="row" style="width: 100vw !important;" >

    <section class="tm-2-col-img-text tm-2-col-img-lg-right">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-img" >
            <img src="../../assets/img/feature-profile.png" alt="Image" class="img-fluid" style="width: 100% !important;" />
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-text">
            <h2 class="tm-2-col-text-title subheading">Profile</h2>
            <p class="tm-2-col-text-description" style="color: black;">
                This is very valuable feature to you! You can adjust your schedule changing
                your breakfast, lunch and dinner times, wake-up and sleeping times. Then the app
                suggests you a water schedule onsidering your daily schedule. It helps you to
                drink the daily target throughout the day
            </p>
            <!-- <a href="#" class="tm-bordered-btn">Read More</a> -->
        </div>

    </section>

</div> <!-- row -->
