<div class="row" style="width: 100vw !important;">

    <section class="tm-2-col-img-text tm-2-col-img-lg-right">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-img">
            <img src="../../assets/img/feature-leaderboard.jpg" alt="Image" class="img-fluid">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-2-col-text">
            <h2 class="tm-2-col-text-title subheading">Leaderboard</h2>
            <p class="tm-2-col-text-description" style="color: black;">
                You can compete with your colleagues by forming groups with them. If you achive your
                daily water requirement everday you can lead the leaderboard. And also you can earn badges by leading the
                leaderboard

            </p>
            <!-- <a href="#" class="tm-bordered-btn">Read More</a> -->
        </div>

    </section>

</div> <!-- row -->
