
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 footer-newsletter">           
              <div class="footer-info">
                <h3>OUR COMPANY  <span>.</span></h3>
                <div  style="margin-bottom: 20px;">
                  <img src="../../../assets/images/new.png" class="logo">
              </div>
              <p>To create a healthy lifestyle  avoiding diseases in busy schedules by drinking sufficient amounts of water daily
              </p>
          </div>
        </div>
      <div class="col-lg-3 col-md-6" >
        <div>
          <h4>VISIT US</h4>
          <p>
               
            No.164 / A, Thudella, <br>
            Ja-Ela,  <br>
            Sri Lanka<br>
          </p>   
        </div>
        <div>
          <h4>EMAIL US</h4>
          <p>
            info@aqua.com
          </p> 
        </div>
      </div>
          <div class="col-lg-3 col-md-6" >
            <div>
              <h4>CONTACT US</h4>
              <p>
                +94 11-2231668<br>
                +94 77-2414931<br>
                +94 77-1535759<br>
              </p>               
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
          &copy; Copyright <strong><span>aqua.lk</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>  