<div class="card" style="cursor: pointer" (click)="showCompetitonDetails()">
  <div class="row">
    <div class="col-md-4">
      <img
        class="img-fluid w-100 rounded"
        src="assets/images/samples/300x300/9.jpg"
        alt=""
        style="width: 8cm; height: 2cm"
      />
    </div>
    <div class="col-md-8">
      <h5 class="mb-3">Competiton Name</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
        molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam
      </p>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio
    dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis
    dolorem quaerat quis assumenda!
  </p>
  <br />
</div>
