<div class="register-main">

  <form [formGroup]="registerForm" class="register-form" (submit)="addUser()">
    <div class="register-header">Admin Registration</div>
    <mat-form-field  class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" class="example-right-align" formControlName="name" required>
      <span matPrefix><mat-icon>person</mat-icon></span>
      <mat-error>Required</mat-error>
      <!-- <span matSuffix><mat-icon>lock</mat-icon></span> -->
    </mat-form-field>
    <mat-form-field  class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" class="example-right-align" formControlName="email" required>
      <span matPrefix><mat-icon>email</mat-icon></span>
      <mat-error>Invalid</mat-error>
      <!-- <span matSuffix><mat-icon>lock</mat-icon></span> -->
    </mat-form-field>
    <mat-form-field  class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="{{visisbility?'password':'text'}}" class="example-right-align" formControlName="password" required>
      <span matPrefix><mat-icon>lock</mat-icon></span>
      <mat-error>Required</mat-error>
      <!-- <span matSuffix><mat-icon>lock</mat-icon></span> -->
    </mat-form-field>
    <mat-form-field  class="form-field">
      <mat-label>Password Confirmation</mat-label>
      <input matInput type="{{visisbility?'password':'text'}}" class="example-right-align" formControlName="repassword" required>
      <span matPrefix><mat-icon>lock</mat-icon></span>
      <mat-error>Required</mat-error>
      <span matSuffix>
        <button mat-icon-button type="button">
          <mat-icon (click)="visisbility=!visisbility">{{visisbility?"visibility":"visibility_off"}}</mat-icon>
        </button>
      </span>
    </mat-form-field>
    <div class="error" *ngIf="error1">Password does not match</div>
    <div class="signin-btn">
      <button type="submit" >Add User</button>
    </div>
  </form>
</div>
