.register-main{
  width: 100%;
  height: 100ch;
  padding-top:100px;
  /* background-color: red; */
}

.register-form{
  padding: 100px;
  padding-top: 50px;
  box-sizing: border-box;
  margin: auto;
  /* margin-top:200px; */
  width: 60%;
  height: 700px;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #888888;
  /* background-color: aqua; */
}
.form-field{
  display: block;
  /* width: 80%; */
  /* margin-left: 5%; */
  height: 100px;
}
.register-header{
  /* background-color: rebeccapurple ; */
  color: rgb(17, 17, 143);
  height: 100px;
  font-size: 30px;
  text-align: center;
}

.signin-btn{
  margin: auto;
  width: 100%;
  text-align: center;

}
.signin-btn button{
  padding: 0px;
  padding-top: -10px;
  margin: auto;
  width: 120px;
  height: 50px;
  font-weight: 600;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-size: 14px;
  background-color: rgb(17, 17, 143);
  /* box-shadow: 5px 10px 18px #888888; */
}
.error{
  color: red;
  font-size: 12px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
