<div class="landing-main">
  <div class="">
<app-navbar></app-navbar>
  </div>
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content">
    <div class="btn-group btn-group-toggle">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
      </label>
    </div>
    <hr>
    <pre>{{model | json}}</pre>
    <router-outlet></router-outlet>
  </div>

</div>
