.landing-main{
  width: 100%;
  min-height: 100vh;
}
.navbar{
  /* position: fixed; */
  width: 100%;
  height: 70px;
  background-color: red;
}
.sidebar{
  top: 70px;
  position: fixed;
  display: inline-block;
  width: 300px;
  height: 100%;
  /* background-color: green; */
}
.content{
  margin-top: 70px;
  margin-left: 300px;
  display: inline-block;
  width: calc(100% - 300px);
  /* background-color: yellow; */
  height: 100%;
  display: inline-block;
}
