<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
<div class="container-fluid">
            
    <!-- <div class="row">  -->

        <section class="tm-section-intro" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
                <div class="tm-wrapper-center" style="width: 100% !important;">
                    <h1 class="tm-section-intro-title heading">Contact Us</h1>
                    <p class="tm-section-intro-text subheading">Keep in touch with AQUA Team
                    </p>
                    
                </div>            
            </div>
        </section>    

    <!-- </div> -->
</div>
