*{
  padding: 0px;
  margin: 0px;
}

.navbar-main{
  width: 100%;
  height: 70px;
  background-color:black;
  position: fixed;
}
.nav-logo{
  padding-top: 3px;
  display: inline-block;
  width: 160px;
  /* background-color: white; */
  padding-left: 30px;
}
.nav-logo img{
  width: 130px;
}
.nav-data{
  position: relative;
  float: right;
  display: inline-block;
  width: 240px;
  height: 70px;
  padding-right: 30px;
  /* background-color: yellow; */
}
.nav-profile-photo{

  margin-top: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: right;
  margin-right: 30px;
  /* background-color: white; */
}
.nav-data-name{
  padding-top: 25px;
  /* position: absolute; */
  display: inline-block;
  height:70px;
  left: 100px;
  color: white;
  box-sizing: border-box;
  /* margin-bottom: 30px; */
  /* background-color: aqua; */
}
.logout-btn{
  margin-top:20px ;
  float: right;
  width: 60px;
  height: 30px;

  background-color: transparent;
  color: white;
  /* background-color: rgb(9, 23, 151); */
  border: 1px solid white;
  border-radius:10px;
}
